
#navigation{
    display: flex;
    padding: 10px;
    font-size: 20px;
    background: rgb(255,176,80);
    background: linear-gradient(90deg, rgba(255,176,80,1) 39%, rgba(255,238,191,1) 100%);
    border-bottom: 2px solid black;
}
.navbar-brand{
    font-size: 30px;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-brand:hover, .nav-item:hover{
    text-decoration: underline;
}
#elerheto{
    color: black;
}
.kep{
    max-width: 100%;
}
.text{
    margin-top: 10px;
    font-size: 25px;
  vertical-align: middle;
}
#bemutatkozas{
    text-align: justify;
  text-justify: inter-word;
  vertical-align: middle;
}
#bemutatkozotext{
    margin-top: 20px;
}
#elvalaszto{
    border-bottom: 2px solid grey;
    max-width: 100%;
    align-items: center;
    align-content: center;
    margin: 20px;
}
#masodikkep{
    height: 400px; /*nem volt időm megcsinálni a rendes méretet photoshopban*/
}
#harmadiktext{
    margin-top: 40px;
}