
#navigation{
    display: flex;
    padding: 10px;
    font-size: 20px;
    background: rgb(255,176,80);
    background: linear-gradient(90deg, rgba(255,176,80,1) 39%, rgba(255,238,191,1) 100%);
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.navbar-brand{
    font-size: 30px;
}
.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-brand:hover, .nav-item:hover{
    text-decoration: underline;
}
#elerheto{
    color: black;
}
.kep{
    max-width: 100%;
}
.text{
    margin-top: 10px;
    font-size: 25px;
  vertical-align: middle;
}
#bemutatkozas{
    text-align: justify;
  text-justify: inter-word;
  vertical-align: middle;
}
#bemutatkozotext{
    margin-top: 20px;
}
#elvalaszto{
    border-bottom: 2px solid grey;
    max-width: 100%;
    align-items: center;
    align-content: center;
    margin: 20px;
}
#masodikkep{
    height: 400px; /*nem volt időm megcsinálni a rendes méretet photoshopban*/
}
#harmadiktext{
    margin-top: 40px;
}
#topharom{
    text-align: center;
    align-items: center;
    margin: 20px;
}
li{
    display: table-cell;
}
.item{
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}
.fagyilista{
    display: inline-block;
    text-align: left;
    margin-left: 200px;
}
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}